<a href="https://colab.research.google.com/github/rjswal1007/Binary-Tree/blob/main/PipelineDatahandael.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data', na_values='?',
header=None)

In [4]:
df.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  202.0    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g   43.0  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  280.0  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  100.0    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  120.0    0  +

In [5]:
df.isna().sum()

0     12
1     12
2      0
3      6
4      6
5      9
6      9
7      0
8      0
9      0
10     0
11     0
12     0
13    13
14     0
15     0
dtype: int64

In [9]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='most_frequent')
df_si=si.fit_transform(df)

In [10]:
df_si=pd.DataFrame(df_si)
df_si.isna().sum().sum()

0

In [11]:
df_si.head()

  0      1      2  3  4  5  6     7  8  9  10 11 12     13   14 15
0  b  30.83    0.0  u  g  w  v  1.25  t  t  1  f  g  202.0    0  +
1  a  58.67   4.46  u  g  q  h  3.04  t  t  6  f  g   43.0  560  +
2  a   24.5    0.5  u  g  q  h   1.5  t  f  0  f  g  280.0  824  +
3  b  27.83   1.54  u  g  w  v  3.75  t  t  5  t  g  100.0    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f  0  f  s  120.0    0  +

In [22]:
df_si.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
685,1,21.08,10.085,2,2,4,3,1.25,0,0,0,0,0,260.0,0,1
686,0,22.67,0.75,1,0,1,7,2.0,0,1,2,1,0,200.0,394,1
687,0,25.25,13.5,2,2,5,2,2.0,0,1,1,1,0,200.0,1,1
688,1,17.92,0.205,1,0,0,7,0.04,0,0,0,0,0,280.0,750,1
689,1,35.0,3.375,1,0,1,3,8.29,0,0,0,1,0,0.0,0,1

In [13]:
cols=[0,3,4,5,6,8,9,11,12,15]
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for i in cols:
  df_si[i]=le.fit_transform(df_si[i])
  df_si.head()

In [17]:
target=df_si[15]
data=df_si.drop(columns=[15])

In [18]:
target.shape

(690,)

In [19]:
data.shape

(690, 15)

In [23]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(data, target,test_size=0.1)

In [25]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline

In [31]:
pipel=Pipeline((('sc', StandardScaler()),('pca',PCA()),('svm1',SVC(kernel='rbf'))))

In [32]:
pipel.fit(x_train, y_train)

Pipeline(steps=[('sc', StandardScaler()), ('pca', PCA()), ('svm1', SVC())])

In [33]:
train_pred=pipel.predict(x_train)
test_pred=pipel.predict(x_test)

In [34]:
from sklearn.metrics import accuracy_score

In [37]:
print("Training accuaracy:",accuracy_score(train_pred,y_train))
print("Training accuaracy:",accuracy_score(test_pred,y_test))

Training accuaracy: 0.895330112721417
Training accuaracy: 0.8115942028985508

In [39]:
print("Testing accuaracy:",pipel.score(x_test, y_test))

Testing accuaracy: 0.8115942028985508